*{
	border-radius: 3px;
	border: none;
	font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
	font-size: 20px;
}

window {
	background-color: rgba(50, 50, 50, 0.9);
	color: #ffffff;
	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#input{
	background-color: #bbccdd;
	color: #333333;
}

#entry:selected{
	box-shadow: inset 0 -3px white;
	background-color: #64727D;
}


