*{
	border-radius: 3px;
	border: none;
	font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
	font-size: 28px;
}

window {
	background-color: rgba(50, 50, 50, 0.9);
	color: #ffffff;
	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#entry{
	padding: .25em;
}

#entry:selected {
	background-color: #bbccdd;
	background: linear-gradient(90deg, #bbccdd, #cca5dd);
	color: #333333;
}
#text:selected {
	color: #333333;
}

#input {
	/*box-shadow: inset 0 -3px white;*/
	background-color: rgba(50, 50, 50, 0.5);
	color: #ffffff;
	padding: .25em;
}

image{
	margin-left: .25em;
	margin-right: .25em;
}
